<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>VueJS</title>
  <link rel="stylesheet" href="styles.css">
  <script src="vue.js"></script>
</head>

<body>
<div id="exercise">
  <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
  <div>
    <button @click="startEffect">{{ labelEffect }}</button>
    <!--<div id="effect" :class="{highlight:highlight, shrink:shrink}"></div>-->
    <div id="effect" :class="{highlight, shrink}"></div>
  </div>
  <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
  <div :class="[backgroundYellow, colorRed, textCenter]">I'm classy :)</div>
  <!-- 3) Let the user enter a class (create some example classes) and attach it -->
  <div>
    <input type="text" v-model="color">
    <div :class="[color, rectangle]"></div>
  </div>
  <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
  <div>
    <input type="text" v-model="color2">
    <input type="text" v-model="largeBorder">
    <div :class="[rectangle, color2, {largeBorder}]"></div>
  </div>
  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
  <div>
    <input type="text" v-model="colorStyle">
    <div :style="myStyle" class="rectangle"></div>
  </div>
  <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
  <div>
    <button v-on:click="startProgress">Start Progress</button>
    <div :style="progressBar"></div>
  </div>
</div>

<script src="app.js"></script>
</body>
</html>
